<h1 mat-dialog-title>{{data.mode}} album</h1>
<div mat-dialog-content>

  <form [formGroup]="albumForm" #ngForm="ngForm" (ngSubmit)="save()">
    <div>
      <div>Title:</div>
      <input type="text" formControlName="title" />
      <div *ngIf="ngForm.submitted && albumForm.controls.title.errors" class="invalid">
        <div *ngIf="albumForm.controls.title.errors.required">missing title</div>
      </div>
    </div>
    <div>
      <div>Artist:</div>
      <input type="text" formControlName="artist" />
      <div *ngIf="ngForm.submitted && albumForm.controls.artist.errors" class="invalid">
        <div *ngIf="albumForm.controls.artist.errors.required">missing artist</div>
      </div>
    </div>
    <div>
      <div>Year:</div>
      <input type="number" formControlName="year" />
      <div *ngIf="ngForm.submitted && albumForm.controls.year.errors" class="invalid">
        <div *ngIf="albumForm.controls.year.errors.required">missing year</div>
      </div>
    </div>
    <div>
      <div>Genre:</div>
      <input type="text" formControlName="genre" />
      <div *ngIf="ngForm.submitted && albumForm.controls.genre.errors" class="invalid">
        <div *ngIf="albumForm.controls.genre.errors.required">missing genre</div>
      </div>
    </div>

    <mat-card-actions>
      <button mat-raised-button type="submit">Save</button>
      <button mat-raised-button type="reset" (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>
</div>
