<mat-drawer-container autosize>

  <mat-drawer #drawer mode="side">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          artists
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let artist of artists">
        <mat-checkbox [checked]="artist.checked" (change)="artist.checked = !artist.checked">{{artist.value}}
        </mat-checkbox>
      </div>
      <div (click)="reset('artists')">reset artists</div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          years
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let year of years">
        <mat-checkbox [checked]="year.checked" (change)="year.checked = !year.checked">{{year.value}}</mat-checkbox>
      </div>
      <div (click)="reset('years')">reset years</div>
    </mat-expansion-panel>
  </mat-drawer>

  <div>
    <div>
      <button mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{username}}'s library</span>
      <button class="logout" mat-raised-button (click)="logout()">Logout</button>
    </div>

    <p>
      <mat-button-toggle-group name="order">
        <mat-button-toggle value="artists" (click)="order('artists')">Artist</mat-button-toggle>
        <mat-button-toggle value="years" (click)="order('years')">Year</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle (click)="addAlbum()">Add</mat-button-toggle>
    </p>

    <mat-card *ngFor="let album of filteredAlbums" class="album">
      <mat-card-header>
        <mat-card-title>{{album.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{album.artist}}</p>
        <p>{{album.year}}</p>
        <p>{{album.genre}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="editAlbum(album)">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-button (click)="deleteAlbum(album)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="albums.length < 1">
      <mat-card-header>
        <mat-card-title>Welcome to your albums manager</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>add your first album by pressing 'Add' button</p>
        <p>you can also sort albums by artist or year</p>
        <p>or filter from side menu</p>
      </mat-card-content>
    </mat-card>

  </div>

</mat-drawer-container>
