<div class="row">
  <div class="col-1 col-md-4"></div>

  <div class="col-10 col-md-4">
    <h1>Login</h1>
    <form [formGroup]="loginForm" #ngForm="ngForm" (ngSubmit)="submit()">

      <div>
        <div>Username:</div>
        <input type="text" formControlName="username" />
        <div *ngIf="ngForm.submitted && loginForm.controls.username.errors" class="invalid">
          <div *ngIf="loginForm.controls.username.errors.required">missing username</div>
        </div>

      </div>

      <div>
        <div>Password:</div>
        <input type="password" formControlName="password" />
        <div *ngIf="ngForm.submitted && loginForm.controls.password.errors" class="invalid">
          <div *ngIf="loginForm.controls.password.errors.required">missing password</div>
          <div *ngIf="loginForm.controls.password.errors.password">illegal password</div>
        </div>

      </div>

      <div>
        <button mat-raised-button>Login</button>
        <a routerLink="/register" class="btn btn-link">Register</a>
      </div>

    </form>
  </div>

  <div class="col-1 col-md-4"></div>
</div>
