/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.invalid {
  color: red;
}

.error-popup {
  border: 1px solid red;
  background-color: white;
  color: red;
  min-width: auto !important;
}
