<div class="row">

  <div class="col-1 col-md-4"></div>

  <div class="col-10 col-md-4">
    <h1>Register</h1>
    <form [formGroup]="registerForm" #ngForm="ngForm" (ngSubmit)="submit()">

      <div>
        <div>Username:</div>
        <input type="text" formControlName="username" />
        <div *ngIf="ngForm.submitted && registerForm.controls.username.errors" class="invalid">
          <div *ngIf="registerForm.controls.username.errors.required">missing username</div>
        </div>
      </div>

      <div>
        <div>Password:</div>
        <input type="password" formControlName="password" />
        <div *ngIf="ngForm.submitted && registerForm.controls.password.errors" class="invalid">
          <div *ngIf="registerForm.controls.password.errors.required">missing password</div>
          <div *ngIf="registerForm.controls.password.errors.password">illegal password</div>
        </div>
      </div>

      <div>
        <button mat-raised-button>Register</button>
        <a routerLink="/login" class="btn btn-link">Login</a>
      </div>

    </form>
  </div>

  <div class="col-1 col-md-4"></div>
</div>
